
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenido al Menu Administracion de Safari-Norte</h2>
<h3>Si usted pudo acceder a esta pagina es porque tiene permisos de Administrador</h3>


