@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
       <li>@Html.ActionLink("Citas", "Index", "Cita", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Movimientos", "Index", "Movimiento", new { area = "" }, null)</li>
    </ul>
}
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Administracion", "Index", "Admin/Dashboard")</li>
    </ul>
}
