@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Admin", "Dashboard", "Admin")</li>
    </ul>
}
