@{
    ViewBag.Title = "Contacto";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Utilice ésta página para contactarse con nosotros.";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "Brian Gomez Pereyra";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@briiangomez");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

<h2>@ViewBag.Title.</h2>
<br />
<!--Section heading-->


<div class="row">

    <div class="col-md-6">

        <address>
            <p>Direccion: Av. Corrientes 456 - Piso 17, CABA (C1043AAR).</p>
            <p>
                Telefono: (011) 4322-7908
            </p>
        </address>

        <address>
            <strong>Ventas:</strong>   <a href="mailto:ventas@safari-norte.com">ventas@safari-norte.com</a><br />
            <strong>Informacion:</strong> <a href="mailto:info@safari-norte.com">info@safari-norte.com</a>
        </address>

    </div>

    <!--Grid column-->
    <div class="col-md-6">
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">
            ¿Tiene usted alguna pregunta? Por favor no dude en contactarnos.
        </p>
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <label for="name" class="">Nombre y Apellido</label>
                    <input type="text" id="name" name="name" class="form-control">
                </div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <label for="email" class="">E-mail</label>
                    <input type="text" id="email" name="email" class="form-control">
                </div>
            </div>
            <!--Grid column-->

            <div class="col-md-12">
                <div class="md-form mb-0">
                    <label for="subject" class="">Motivo</label>
                    <input type="text" id="subject" name="subject" class="form-control">
                </div>
            </div>

            <!--Grid column-->
            <div class="col-md-12">

                <div class="md-form">
                    <label for="message">Su mensaje</label>
                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                </div>

            </div>
        </div>
        <!--Grid row-->


        <div class="text-right text-md-left">
            <a class="btn btn-primary" onclick="">Enviar</a>
        </div>
        <div class="status"></div>
    </div>
</div>